.main {
    background: #F2F0FF;
    position: relative;
    height: 764px;
    .container {
        height: 100%;
        .swiper {
            height: 100%;
            &-pagination {
                bottom: 52px;
                &-bullet {
                    width: 10px;
                    height: 9.89px;
                    left: 953px;
                    top: 826.07px;
                    border: 1px solid #FB2E86;
                    transform: rotate(-45deg);
                    border-radius: 0;
                    background: transparent;
                    opacity: 1;
                    transition: .3s;
                    &-active {
                        background: #FB2E86;
                    }
                }
            }
        }
    }
    &-lamp {
        position: absolute;
        left: 70px;
        top: 0;
    }
    &-dot {
        width: 15px;
        height: 15px;
        background: #FB2E86;
        border-radius: 50%;
        position: absolute;
        bottom: 246px;
        left: 184px;
    }
    &-slide {
        height: 100%;
        &-wrapper {
            height: 100%;
            align-items: center;
            justify-content: space-between;
            display: grid;
            grid-template-columns: 1.4fr 1fr;
        }
        &-info {
            display: flex;
            flex-direction: column;
        }
        &__subtitle {
            display: block;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            color: #FB2E86;
            margin-bottom: 12px;
        }
        &__title {
            display: block;
            font-size: 53px;
            line-height: 82px;
            letter-spacing: 0.015em;
            color: #000000;
            margin-bottom: 12px;
        }
        &__text {
            display: block;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            color: #8A8FB9;
            margin-bottom: 27px;
        }
        &__btn {
            outline: none;
            border: none;
            cursor: pointer;
            width: 163px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FB2E86;
            border-radius: 2px;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
        &-img {
            position: relative;
            img {
                width: 505px;
            }
            &::after {
                content: '';
                width: 505px;
                height: 505px;
                background: rgba(236, 210, 250, 0.35);
                position: absolute;
                border-radius: 50%;
                z-index: -1;
                top: -19px;
                left: -47px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 505px;
                height: 505px;
                background: rgba(236, 210, 250, 0.35);
                border-radius: 50%;
                z-index: -1;
                top: -60px;
                left: -10px;
            }
        }
        &__sale {
            position: absolute;
            background-image: url('../../../public/images/icons/blot.svg');
            width: 119.56px;
            height: 121.49px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 35px;
            line-height: 44px;
            color: #FFFFFF;
            top: -60px;
            right: 0;
        }
    }
}